<nav>
  <a href="/" class="brand">KiwiSekwi</a>
  <div class="items">
    <% if (user) { %>
    <a href="/write">위키 생성</a>
    <a href="/profile/<%= user.id %>">프로필</a>
    <% } else { %>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
    <% } %>
  </div>
</nav>