<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KiwiSekwi</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <% include("./components/navbar.ejs") %>
  <main>
    <h1>문서 생성 요청</h1>
  </main>
  <% include("./components/footer.ejs") %>
</body>

</html>