<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KiwiSeki</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("components/navbar.ejs") %>
    <main>
      <h1>회원가입</h1>
      <form action="/user/signup" method="post">
        <table>
          <tbody>
            <tr>
              <td>사용자명</td>
              <td>
                <input type="text" name="username" required />
              </td>
            </tr>
            <tr>
              <td>비밀번호</td>
              <td>
                <input type="password" name="password" required />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" value="회원가입" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </main>
    <%- include("components/footer.ejs") %>
  </body>
</html>
