<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KiwiSekwi</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <% include("./components/navbar.ejs") %>
  <main>
    <h1>회원가입</h1>
    <form action="/signup" method="post">
      <!-- TODO: signup form -->
    </form>
  </main>
  <% include("./components/footer.ejs") %>
</body>

</html>