nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 20px 12px;
}

nav a {
  color: white;
}

nav .brand {
  font-size: 30px;
}

nav .items {
  display: flex;
  align-items: center;
  gap: 10px;
}
